@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div,
ul,
li,
input,
label,
h1,
h2,
th,
tr,
td,
p {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #333;
  color: #fff;
  word-wrap: break-word;
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
}
footer {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

img {
  width: 50%;
}

.nav__link {
  text-transform: uppercase;
}
a {
  color: white;
  text-decoration: none;
}
a:focus,
a:hover {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 25rem;
  margin: 10px auto;
}

.pr__btn {
  padding: 10px;
  border: 0;
  background-color: brown;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}
.pr__btn:focus,
.pr__btn:hover {
  opacity: 0.75;
}

.input,
textarea {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 0.3rem;
  box-sizing: border-box;
  max-width: 15rem;
}
.input:focus,
.form-control:focus {
  border-color: brown;
  box-shadow: 0 0 5px 0 brown;
}

/* NAV */
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__item {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
}
.nav__link:hover,
.nav__link:focus {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

.nav__button {
  margin-top: 5px;
}

.nav__button:hover,
.nav__button:focus {
  border: 0;
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

/* auth */
.auth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #343a40;

  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 10px;
  gap: 5px;
}
.auth__text {
  color: white;
  font-weight: bold;
}

/* posts */
.post__container {
  color: white;
  background-color: #343a40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.post__container + .post__container {
  margin-top: 10px;
}

.post__userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 200px;
  border: 3px solid #333;
  border-top-style: hidden;

  border-radius: 0px 0px 10px 10px;
}
.post__name {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.post__email {
  font-size: 0.8rem;
  color: white;
  background-color: #333;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
}

.post__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
}
.post__button {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.test {
  padding: 0rem;
  padding-bottom: 1px;
}

.test {
  width: 100%;
  background-color: #333;
  border: none;
}

.dropdown__menu {
  background-color: #333;
  border-radius: 10px;
}
.dropdown__item {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.dropdown__item:hover,
.dropdown__item:focus {
  background-color: brown;
  color: white;
}
.moreView {
  width: 100%;
  max-width: 21px;
}

.modal-content {
  background-color: #333;
  position: relative;
}

.btn-close {
  display: none;
}
.btn-primary {
  background-color: brown;
  border: brown;
}
.btn-primary:focus,
.btn-primary:hover {
  opacity: 0.75;
  background-color: brown;
  border: brown;
}

/* search and make post */

.search__container {
  color: white;
  background-color: #343a40;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px;
}

.movie__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.imdb__container {
  color: #f5c518;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imdbRating {
  font-weight: bolder;
}
.imdb_logo {
  width: 100%;
  max-width: 30px;
}
textarea {
  max-width: 50rem;
}
.post__content__container {
  font-size: 1.5rem;
}

.github__mark {
  width: 100%;
  max-width: 30px;
}

.dropdown__item {
  cursor: pointer;
}

@media (min-width: 430px) {
  body {
    font-size: 1rem;
  }
  img {
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: 25rem;
    margin: 20px auto;
  }
  /* Nav */
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .nav__button {
    margin-top: 0px;
  }
  header {
    background-color: #343a40;
    overflow: hidden;
  }

  .nav__container {
    display: flex;
    width: 100%;
    padding: 0 10px;
  }
  .nav__list {
    display: flex;
    list-style: none;
    margin: auto 0;
  }
  .nav {
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .pr__btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
